.container {
    max-width: 1146px;
    margin: 0px auto;
}
.header{
    margin-top: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header__nav {
    display: flex;
    justify-content: space-between;
}
.header__nav__row_left {
    display: flex;
}
.nav__row_left__logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.logo {
    font-size: 24px;
    font-weight: bolder;
    padding-left: 6px;
}
.logo__href{
    color:black
}
.menu {
    display: flex;
    align-items: center;
}
.menu__href{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.menu__href:hover{
    text-decoration: underline;
}
.header__menu li {
    padding-right: 14px;
    font-size: 14px;
}
.header__menu:last-child{
padding-right: 0px;
}
.header__nav__row_right__buttonreg {
    width: 161px;
    height: 36px;
    border-radius: 5px;
    font-size: 14px;
    background-color: transparent;
}
.header__nav__row_right__buttonreg:hover{
    background-color: whitesmoke;
    font-weight: bold;
}
.header__nav__row_right__buttonadd {
    width: 161px;
    height: 36px;
    border-radius: 5px;
    background-color: blue;
    font-size: 14px;
}
.header__nav__row_right__buttonadd:hover{
    font-weight: bold;
}
.header__search {
    display: flex;
    max-width: auto;
    margin-top: 24px;
}
.search input {
    flex-grow: 1;
    max-width: 1040px;
    padding: 14px 20px;
    border: 3px solid blue;
    border-radius: 5px;
}
.header__search__button {
    max-width: 107px;
    padding: 14px 25px;
    border-radius: 5px;
    background-color: blue;
}